<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img src="./assets/icon/Logo_DuocUC.png" class="ion-padding" alt="">
  </div>
  <br><br><br>
  <br>
  <ion-button color="warning" class="button" (click)="escanearCodigoQR()">
    Escanear código QR (Marcador de posición)
  </ion-button>
  <br>
  <br>
  <br>
  <br>

  <div class="calendar">
    <table>
      <thead>
        <tr>
          <th>Día</th>
          <th>Fecha</th>
          <th>Título</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.data">
          <ng-container *ngIf="isCurrentMonthFeriado(item.date)">
            <td>{{ getDayFromDate(item.date) }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.type }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>